<!DOCTYPE html>
<html class="page-blog">
	<head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/css/main.css' %}">
        <link rel="icon" type="image/png" href="{% static "/portfolio/img/logo.png" %}">
        <title>Blog</title>
	</head>
	<body>
		<header>

		</header>
		<main class="main-main">
            <div class="header-blog">
                <div class="header-blog-name">
                    <h1>"Blog"</h1>
                </div>
                <div class="blogs-count">
                    <p>Всего постов: {{ blog_count }}</p>
                </div>
            </div>

            <div class="main-blog">
                <div class="main-blog-content">
                    <div class="main-blog-posts">
                        {% for blog in blogs %}
                            <div class="main-blog-post">
                                <div class="main-blog-post-link">
                                    <a href="{% url 'blog:detail' blog.id %}"><h2>{{ blog.title }}</h2></a>
                                </div>
                                <div class="main-blog-post-date">
                                    <p>{{ blog.release_date|date:'M d Y G:i' }}</p>
                                </div>
                                <div class="main-blog-post-description">
                                    {{ blog.description|safe|linebreaks }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
		</main>
	</body>
</html>