* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    background-image: url("wallpaper-2.jpg");
}

.nav {
    background-color: black;
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0 3px 10px #a91111;
}

.navbar {
    margin: auto;
    height: 80px;
    display: flex;
    max-width: 992px;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    margin-left: 20px;
}

.navbar-logo {

}

.navbar-logo img {
    height: 80px;
}

.nickname{
    display: flex;
    padding: 26px;
    font-size: 28px;
    color: #a91111;
}

.navbar-right {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    font-size: 20px;
}

.navbar-right div {
    margin: 10px;
}

.navbar-right a {
    text-decoration: none;
    color: #a91111;
}

.navbar-right button {
    border: solid 1px red;
    border-radius: 40px;
    padding: 16px;
    font-size: 20px;
    color: #a91111;
    background-color: black;
    box-shadow: 0 3px 10px #a91111;
    transition: all 0.3s ease-in;
}

.navbar-right button:hover {
    cursor: pointer;
    background-color: #a91111;
    border-color: #a91111;
    box-shadow: none;
    border-radius: 0;
    color: black;
}

.navbar-right button:active {
    transform: scale(0.95);
}

.portfolio {
    padding-top: 80px;
}

.portfolio {
    max-width: 992px;
    margin: auto;
}

.self  {
    margin: 50px auto 50px;
    text-align: center;
    height: 600px;
    width: 450px;
    background-color: red;
}

.self img {
    height: 100%;
}

hr {
    border-color: #a91111;
}

.projects {
    margin: 50px 20px 0;
}

.project {
    height: 300px;
    margin-bottom: 15px;
    background-color: black;
    border-radius: 10px;
    color: #a91111;
}

.project-info {
    padding: 0 7px;
}

.project img {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 200px;
    width: 100%;
}

.project h2 {
    text-align: center;
}

.project p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.page-blog {
    color: #a91111;
}

.blog-header {
    margin: 25px;
}

.blog {
    max-width: 496px;
    margin: auto;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 3px 10px #a91111;
}

.header-blog {
    text-align: center;
}

.blogs-count {
    text-align: center;
    color: rgba(255,255,255,0.31);
}

.blog-post {
    margin: 10px;
}

.post-link a{
    text-decoration: none;
    color: red;
}

.post-date {
    color: rgba(169, 17, 17, 0.5);
    margin: 5px 0;
}

.post-detail-title {
    text-align: center;
    margin: 50px auto 27px;
}

.post-detail-text {
    max-width: 496px;
    margin: auto;
    background-color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 3px 10px #a91111;
}